.page-wrapper.manage-team {
  margin-left: 200px;
  padding: 0px 0px 10px 20px;
  overflow:hidden;
  min-height: calc(100vh - 59px);
  &.manage-team {
    padding-top: 2em;
  }
  .eight.wide.column {
    padding-left: 0;
    .ui.large.label, .ui.large.labels .label {
      font-size: 1.2em;
      vertical-align: middle;
      line-height: 1.2;
      text-transform: capitalize;
    }
  }
}
