{
  "number_of_replicas": 3,
  "tag": "acc",
  "revision": "",
  "node_env": "production",
  "image_pull_policy": "Always",
  "containers": {
    "react": {
      "image_name": "eu.gcr.io/proofer-160818/frontend-react:react-acc",
      "ports": [
        {
          "containerPort": 3000
        }
      ],
      "resourceRequests": {
        "requests": {
          "memory": "150Mi",
          "cpu": "10m"
        },
        "limits": {
          "memory": "250Mi",
          "cpu": "100m"
        }
      }
    },
    "nginx": {
      "image_name": "eu.gcr.io/proofer-160818/frontend-react:nginx-acc"
    }
  },
  "host_aliases": [
    {
      "ip": "35.190.32.128",
      "hostnames": [
        "staging.proofer.io"
      ]
    },
    {
      "ip": "35.186.234.251",
      "hostnames": [
        "acceptance.proofer.io"
      ]
    }
  ],
  "service": {
    "ports": [
      {
        "name": "nginx",
        "port": 80,
        "targetPort": 80
      },
      {
        "name": "react",
        "port": 3000,
        "targetPort": 3000
      }
    ]
  }
}