{
  "number_of_replicas": 1,
  "tag": false,
  "revision": "",
  "node_env": "development",
  "image_pull_policy": "IfNotPresent",
  "containers": {
    "react": {
      "image_name": "frontend-react:react",
      "ports": [
        {
          "containerPort": 3000
        },
        {
          "containerPort": 3001
        },
        {
          "containerPort": 3002
        },
        {
          "containerPort": 1883
        }
      ],
      "resourceRequests": {
        "requests": {
          "memory": "100Mi",
          "cpu": "2m"
        },
        "limits": {
          "memory": "250Mi",
          "cpu": "100m"
        }
      }
    }
  },
  "volumes": {
    "react-volume": {
      "hostPath": "/c/Users/Proofer/services/frontend-react/app/"
    }
  },
  "service": {
    "ports": [
      {
        "port": 3000,
        "targetPort": 3000
      }
    ]
  }
}