{
  "number_of_replicas": 3,
  "tag": "prod",
  "revision": "",
  "node_env": "production",
  "image_pull_policy": "Always",
  "containers": {
    "react": {
      "image_name": "eu.gcr.io/proofer-160818/frontend-react:react-prod",
      "ports": [
        {
          "containerPort": 3000
        }
      ],
      "resourceRequests": {
        "requests": {
          "memory": "200Mi",
          "cpu": "50m"
        },
        "limits": {
          "memory": "350Mi",
          "cpu": "200m"
        }
      }
    },
    "nginx": {
      "image_name": "eu.gcr.io/proofer-160818/frontend-react:nginx-prod"
    }
  },
  "service": {
    "ports": [
      {
        "name": "nginx",
        "port": 80,
        "targetPort": 80
      },
      {
        "name": "react",
        "port": 3000,
        "targetPort": 3000
      }
    ]
  }
}