{
  "number_of_replicas": 1,
  "tag": "test",
  "revision": "",
  "node_env": "test",
  "image_pull_policy": "IfNotPresent",
  "containers": {
    "react": {
      "image_name": "frontend-react:react-test",
      "ports": [
        {
          "containerPort": 3000
        }
      ]
    },
    "nginx": {
      "image_name": "frontend-react:nginx-test"
    }
  },
  "host_aliases": [
    {
      "ip": "35.190.32.128",
      "hostnames": [
        "staging.proofer.io"
      ]
    },
    {
      "ip": "35.186.234.251",
      "hostnames": [
        "acceptance.proofer.io"
      ]
    }
  ],
  "volumes": {
    "react-volume": {
    }
  },
  "service": {
    "ports": [
      {
        "name": "nginx",
        "port": 80,
        "targetPort": 80
      },
      {
        "name": "react",
        "port": 3000,
        "targetPort": 3000
      }
    ]
  }
}